/* INPUT COMPONENT CUSTOM STYLINGS */

/* NUMERICAL INPUT */
/* -------------------------------------- */
/* No Arrows (No up & down arrows on number input */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrows[type="number"] {
  -moz-appearance: textfield;
}
/* -------------------------------------- */
