@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL DEFAULT STYLINGS */

/* TEXT & HEADINGS */
/* -------------------------------------- */
body {
  @apply font-inter;
}

h1 {
  @apply text-[72px] font-bold;
}

h2 {
  @apply text-[40px] font-semibold;
}

h3 {
  @apply text-[32px] font-semibold;
}

h4 {
  @apply text-[20px] font-bold;
}
/* -------------------------------------- */

/* INPUTS */
/* -------------------------------------- */
/* Custom Input Styling */
.input-style {
  @apply h-12 rounded-xl border-none bg-neutral-100 text-neutral-800;
}
.input-style ~ label::after {
  background: transparent !important;
}

/* No Arrows (No up & down arrows on numerical input */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrows[type="number"] {
  -moz-appearance: textfield;
}
/* -------------------------------------- */
